Repository ckodser/ckodser.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-summary-math-pipes, ensure-double-dollar-math

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: check-summary-math-pipes
        name: check-summary-math-pipes
        entry: python3 scripts/check_math_pipes.py --fix
        language: system
        files: ^_summaries/.*\.md$
      - id: ensure-double-dollar-math
        name: ensure-double-dollar-math
        entry: python3 scripts/ensure_double_dollar_math.py --fix
        language: system
        files: \.md$

seed_prover_1.5
  _data/autoformalization_taxonomy.yml
  _summaries/Hilbert_Recursively_Building_Formal_Proofs_with_Informal_Reasoning.md
  _summaries/Seed_Prover_1_5_Mastering_Undergraduate_Level_Theorem_Proving_via_Learning_from_Experience.md
Due: check-summary-math-pipes, ensure-double-dollar-math

better summary tables
  _summaries/autoformalization-overview.md
Due: check-summary-math-pipes, ensure-double-dollar-math

Deploying to gh-pages from @ ckodser/ckodser.github.io@88d0c39facb02083b5493410d4363b47339f9eb2 🚀
  feed.xml
  sitemap.xml
  summaries/autoformalization-overview/index.html
Due: none

Update affiliation to Stanford MS&E and add two publications
  _bibliography/papers.bib
  _data/cv.yml
  _pages/about.md
  assets/pdf/decision_tree_product_spaces_poster.png
Due: ensure-double-dollar-math

Deploying to gh-pages from @ ckodser/ckodser.github.io@fc95c943494901d5a1803fe51bfb809d8ac06a84 🚀
  assets/css/main.css
  assets/pdf/decision_tree_product_spaces_poster.png
  feed.xml
  index.html
  publications/index.html
  sitemap.xml
Due: none

Reorder about bio to lead with current Stanford position
  _pages/about.md
Due: ensure-double-dollar-math

Deploying to gh-pages from @ ckodser/ckodser.github.io@3abde5115d3c3b71beac593c2769458e88c3dd63 🚀
  feed.xml
  index.html
  sitemap.xml
Due: none

Update CV page education to show Stanford as current PhD
  assets/json/resume.json
Due: none

Deploying to gh-pages from @ ckodser/ckodser.github.io@669473853fc4190bbc36d58584ec9cff9462b4bf 🚀
  assets/json/resume.json
  cv/index.html
  feed.xml
  sitemap.xml
Due: none
