Repository ckodser/ckodser.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-summary-math-pipes, ensure-double-dollar-math

check-summary-math-pipes:
  name: check-summary-math-pipes
  entry: python3 scripts/check_math_pipes.py --fix
  language: system

ensure-double-dollar-math:
  name: ensure-double-dollar-math
  entry: python3 scripts/ensure_double_dollar_math.py --fix
  language: system

Deploying to gh-pages from @ ckodser/ckodser.github.io@fd80df23ee90ff98217493d82b2c348919d2622b 🚀
  feed.xml
  scripts/ensure_double_dollar_math.py
  sitemap.xml
  summaries/A_Mathematical_Framework_for_Transformer_Circuits/index.html
  summaries/CLIP-Dissect_Automatic_Description_of_Neuron_Representations_in_Deep_Vision_Networks/index.html
  summaries/LLM_Latent_Reasoning_as_Chain_of_Superposition/index.html
  summaries/LLMs_are_Single-threaded_Reasoners_Demystifying_the_Working_Mechanism_of_Soft_Thinking/index.html
  summaries/Multiplex_Thinking_Reasoning_via_Token_wise_Branch_and_Merge/index.html
  summaries/active-survey/index.html
Due: none

make images better.
  _includes/figure.liquid
  _includes/scripts/misc.liquid
  _includes/video.liquid
  _layouts/default.liquid
  _layouts/distill.liquid
  _sass/_base.scss
  _summaries/Soft_Tokens_Hard_Truths.md
  assets/js/summary_image_expand.js
Due: check-summary-math-pipes, ensure-double-dollar-math

add Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space
  _summaries/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space.md
  assets/img/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space/image1.png
  assets/img/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space/image2.png
  assets/img/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space/image3.png
  assets/img/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space/image4.png
Due: check-summary-math-pipes, ensure-double-dollar-math

grammer check
  _summaries/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space.md
Due: check-summary-math-pipes, ensure-double-dollar-math

Deploying to gh-pages from @ ckodser/ckodser.github.io@b4796d827e698a77407bfd0047b38dc2f3f17065 🚀
  404.html
  cv/index.html
  feed.xml
  index.html
  news/index.html
  projects/Attention_is_all_you_need_to_attack/index.html
  projects/BasedOn/index.html
  projects/SPADE/index.html
  projects/index.html
  projects/sparse_L_inf_network/index.html
  publications/index.html
  sitemap.xml
  summaries/A_Mathematical_Framework_for_Transformer_Circuits/index.html
  summaries/An_Overview_of_Early_Vision_in_InceptionV1/index.html
  summaries/CLIP-Dissect_Automatic_Description_of_Neuron_Representations_in_Deep_Vision_Networks/index.html
  summaries/Can_Large_Language_Models_Explain_Their_Internal_Mechanisms/index.html
  summaries/DASH_Detection_and_Assessment_of_Systematic_Hallucinations_of_VLMs/index.html
  summaries/Deep_Learning_is_Not_So_Mysterious_or_Different/index.html
  summaries/Emergent_World_Representations_Exploring_a_Sequence_Model_Trained_on_a_Synthetic_Task/index.html
  summaries/Every_decision_tree_has_an_influential_variable/index.html
  summaries/Interpretability_Beyond_Feature_Attribution_Quantitative_Testing_with_Concept_Activation_Vectors_(TCAV)/index.html
  summaries/LLM_Latent_Reasoning_as_Chain_of_Superposition/index.html
  summaries/LLMs_are_Single-threaded_Reasoners_Demystifying_the_Working_Mechanism_of_Soft_Thinking/index.html
  summaries/Labeling_Neural_Representations_with_Inverse_Recognition/index.html
  summaries/Learning_decision_trees_from_random_examples/index.html
  summaries/Leveraged_volume_sampling_for_linear_regression/index.html
  summaries/Multiplex_Thinking_Reasoning_via_Token_wise_Branch_and_Merge/index.html
  summaries/Physics_of_LM/index.html
  summaries/Progress_measures_for_grokking_via_mechanistic_interpretability/index.html
  summaries/Properly_learning-_decision_trees_in_almost_polynomial_time/index.html
  summaries/Reasoning_Within_the_Mind_Dynamic_Multimodal_Interleaving_in_Latent_Space/index.html
  summaries/Scaling_Monosemanticity_Extracting_Interpretable_Features_from_Claude_3_Sonnet/index.html
  summaries/Soft_Tokens_Hard_Truths/index.html
  summaries/Top_down_induction_of_decision_trees_rigorous_guarantees_and_inherent_limitations/index.html
  summaries/Towards_Monosemanticity_Decomposing_Language_Models_With_Dictionary_Learning/index.html
  summaries/What_do_we_learn_from_inverting_CLIP_models/index.html
  summaries/Zoom_In_An_Introduction_to_Circuits/index.html
  summaries/active-survey/index.html
  summaries/index.html
  summaries/true-active/index.html
Due: none

Scaling_Latent_Reasoning_via_Looped_Language_Models
  assets/img/Scaling_Latent_Reasoning_via_Looped_Language_Models/image1.png
  assets/img/Scaling_Latent_Reasoning_via_Looped_Language_Models/image2.png
  scripts/check_math_pipes.py
Due: none

Deploying to gh-pages from @ ckodser/ckodser.github.io@f9b4589f2225b29a029ee5f9e955adc239366acc 🚀
  assets/img/Scaling_Latent_Reasoning_via_Looped_Language_Models/image1.png
  assets/img/Scaling_Latent_Reasoning_via_Looped_Language_Models/image2.png
  feed.xml
  scripts/check_math_pipes.py
  sitemap.xml
Due: none

Scaling_Latent_Reasoning_via_Looped_Language_Models
  _summaries/Scaling_Latent_Reasoning_via_Looped_Language_Models.md
Due: check-summary-math-pipes, ensure-double-dollar-math

add Chain of Images for Intuitively Reasoning
  _summaries/Chain_of_Images_for_Intuitively_Reasoning.md
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image1.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image2.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image3.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image4.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image5.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image6.png
  assets/img/Chain_of_Images_for_Intuitively_Reasoning/image7.png
Due: check-summary-math-pipes, ensure-double-dollar-math

add magine while Reasoning in Space: Multimodal Visualization-of-Thought
  _summaries/Imagine_while_Reasoning_in_Space_Multimodal_Visualization_of_Thought.md
  assets/img/2501_07542v1_pdf/image1.png
  assets/img/2501_07542v1_pdf/image2.png
  assets/img/2501_07542v1_pdf/image3.png
  assets/img/2501_07542v1_pdf/image4.png
  assets/img/2501_07542v1_pdf/image5.png
Due: check-summary-math-pipes, ensure-double-dollar-math

Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning
  .pre-commit-config.yaml
  _summaries/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning.md
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image1.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image2.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image3.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image4.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image5.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image6.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image7.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image8.png
  assets/img/Zebra_CoT_A_Dataset_for_Interleaved_Vision_Language_Reasoning/image9.png
  scripts/shrink_png_under_500kb.py
Due: check-summary-math-pipes, ensure-double-dollar-math

add Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs
  _summaries/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs.md
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image1.png
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image2.png
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image3.png
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image4.png
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image5.png
  assets/img/Latent_Sketchpad_Sketching_Visual_Thoughts_to_Elicit_Multimodal_Reasoning_in_MLLMs/image6.png
Due: check-summary-math-pipes, ensure-double-dollar-math

Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer
  _summaries/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer.md
  assets/img/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer/image1.png
  assets/img/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer/image2.png
  assets/img/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer/image3.png
  assets/img/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer/image4.png
  assets/img/Latent_Chain_of_Thought_Decoding_the_Depth_Recurrent_Transformer/image5.png
  log.txt
  scripts/check_math_pipes.py
Due: check-summary-math-pipes, ensure-double-dollar-math

add Dream_7B_Diffusion_Large_Language_Models
  _summaries/Dream_7B_Diffusion_Large_Language_Models.md
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image1.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image2.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image3.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image4.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image5.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image6.png
  assets/img/Dream_7B_Diffusion_Large_Language_Models/image7.png
Due: check-summary-math-pipes, ensure-double-dollar-math

Reinforcement_Learning_via_Self_Distillation
  _summaries/Reinforcement_Learning_via_Self_Distillation.md
  assets/img/Reinforcement_Learning_via_Self_Distillation/image1.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image10.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image11.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image2.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image3.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image4.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image5.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image6.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image7.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image8.png
  assets/img/Reinforcement_Learning_via_Self_Distillation/image9.png
Due: check-summary-math-pipes, ensure-double-dollar-math

update profile
  _pages/about.md
Due: ensure-double-dollar-math

added my iclr paper
  _pages/projects.md
  _projects/active_learning_decision_trees.md
  assets/img/active-learning-dt/Line_tree.png
  assets/img/active-learning-dt/decision_tree.png
Due: ensure-double-dollar-math

add proving approach.
  _projects/active_learning_decision_trees.md
Due: ensure-double-dollar-math

add Process-Driven Autoformalization in Lean 4
  _pages/summaries.md
  _summaries/PROCESS_DRIVEN_AUTOFORMALIZATION_IN_LEAN4.md
  assets/img/2406_01940v2_pdf/image2.png
Due: check-summary-math-pipes, ensure-double-dollar-math

add Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics
  _summaries/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics.md
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image1.png
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image2.png
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image3.png
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image4.png
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image6.png
  assets/img/Ax_Prover_A_Deep_Reasoning_Agentic_Framework_for_Theorem_Proving_in_Mathematics_and_Quantum_Physics/image7.png
Due: check-summary-math-pipes, ensure-double-dollar-math

Designing_an_Agentic_Tool_for_AI_Assisted_Mathematical_Proofs
  _summaries/Designing_an_Agentic_Tool_for_AI_Assisted_Mathematical_Proofs.md
  assets/img/Designing_an_Agentic_Tool_for_AI_Assisted_Mathematical_Proofs/image1.png
Due: check-summary-math-pipes, ensure-double-dollar-math

add M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale
  _summaries/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale.md
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image1.png
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image2.png
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image3.png
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image4.png
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image5.png
  assets/img/M2F_Automated_Formalization_of_Mathematical_Literature_at_Scale/image6.png
Due: check-summary-math-pipes, ensure-double-dollar-math

MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation
  _summaries/MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation.md
  assets/img/MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation/image1.png
  assets/img/MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation/image2.png
  assets/img/MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation/image3.png
  assets/img/MerLean_An_Agentic_Framework_for_Autoformalization_in_Quantum_Computation/image4.png
Due: check-summary-math-pipes, ensure-double-dollar-math

Path conditions:
  check-summary-math-pipes: any of: ^_summaries/.*\.md$
  ensure-double-dollar-math: any of: \.md$
